body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient( 259deg,  rgba(222,95,95,0.1) -5%, rgba(53,88,218,0.1) 133.7% );
    font-family: 'Lato', sans-serif;
}

/* .col-md-4 {
    border-style: solid;
    border-width: .5px;
    background-color: azure;
} */

.card-deck {
    border-style: solid;
    border-width: .5px;
    background: white;
    margin: 20px 10px
}

.portfolio-card {
    margin-top: 20px;
}

.portfolio-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    background: linear-gradient( 259deg,  rgba(222,95,95,1) -5%, rgba(53,88,218,1) 133.7% );
    color: white;
}

/* change the link color */
.navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.747);
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
    color: #ffffff;
}

#bioimage {
    float: left;
    padding-right: 10px;
}

.page-content {
    border:solid 1px rgb(201, 201, 201);
    padding: 15px 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;;
}